<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Express App: Add new Product</title>
</head>
<body>
    <h3>Створити нову подію</h3>
        <form id="form">
            <div class="row">
                <div class="col-25">
                    <label for="time">Введіть час</label>
                </div>
                <div class="col-75">
                    <input type="text" id="time" name="time" placeholder="Введіть час">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="action">Введіть подію</label>
                </div>
                <div class="col-75">
                    <input type="text" id="action" name="action" placeholder="Введіть подію">
                </div>
            </div>

            <div class="container">
                <input type="submit" value="Submit">
            </div>
        </form>

    <script type="text/javascript" src="scripts/create.js"></script>
</body>
</html>