<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Express App: Home</title>
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <img width="110px" src = "img/logo.png" alt="My Happy SVG"/>
            <h1>Розпорядок дня </h1>

        </div>
        <nav class="menu_list">
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
            <a href="/products"><button class="btn btn-primary">Відкрити розклад</button></a>
        </nav>
    </div>
</header>



<div class="main">
    <div class="position">
        <img src = "img/bg.png"width="1200px" alt="My Happy SVG"/>
        <h1 class="name_company">Організуй свій день правильно!!</h1>
        <a href="/products">  <button type="submit"class="btn_left option" onclick="clearProducts()">Створити розклад</b></button></a>
    </div>
</div>
</body>
<script>
    function clearProducts() {
        var confir = confirm("Макет розпорядку дня видалиться.Ви впевнені що хочете цього?");
        if(confir==true){
        fetch('/api/products/clearleast', {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                console.log('All products cleared:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }}
</script>
</html>